.main-contact {
	&__link {
		color: $color-main-accent;

		&:hover,
		&:focus,
		&:active {
			color: $color-gray-light;

			@media screen and (min-width: $bp-width-xs) {
				color: $color-main-accent;
			}
		}

		@media screen and (min-width: $bp-width-xs) {
			color: $color-main-dark;
		}
	}
}