.main-header {
	width: 100%;
	padding-top: 16px;

	&__brand {
		display: block;
		margin-bottom: 8px;
		text-align: right;

		@media screen and (min-width: $bp-width-xs) {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $bp-width-xs) {
		padding-top: 32px;
	}
}