.location {
	padding-left: 24px;
	color: $color-gray-dark;
	font-size: 14px;
	line-height: 1.5;
	background-image: url('~@/assets/img/map.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 16px;
}