.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 36px 0;

	&__dot {
		$size: 8px;

		width: $size;
		height: $size;
		margin: 0 4px;
		flex-shrink: 0;

		button {
			padding: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $color-gray-light;
			transition: background-color .5s;
		}

		&._active {
			button {
				background-color: $color-main-accent;
			}
		}
	}
}