.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 36px 0;

	&__dot {
		$size: 8px;

		width: $size;
		height: $size;
		margin: 0 4px;
		flex-shrink: 0;

		&._content {
			$size: 24px;

			width: $size;
			height: $size;
		}

		button {
			padding: 0;
			width: 100%;
			height: 100%;
			font-weight: 700;
			border-radius: 50%;
			background-color: $color-gray-light;
			transition: background-color .5s;
		}

		&._active {
			button {
				background-color: $color-main-accent;
				color: $color-main-light;
			}
		}
	}

	&__prev {
		margin-right: 6px;

		button::before {
			content: '\2039'
		}
	}

	&__next {
		margin-left: 6px;

		button::before {
			content: '\203A'
		}
	}

	&__prev,
	&__next {
		button {
			$size: 24px;

			display: flex;
			align-items: center;
			justify-content: center;
			width: $size;
			height: $size;
			border-radius: 50%;
			font-weight: 700;
			font-size: 20px;
			line-height: .6;
			color: $color-main-accent;
			transition: background-color .5s;

			&:hover {
				background-color: $color-gray-light;
			}

			&:disabled {
				opacity: .5;
				cursor: not-allowed;
			}
		}
	}
}