button {
	appearance: none;
	background-color: transparent;
	border: none;
	font-size: 100%;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
}

a {
	color: $color-main-text-dark;
	text-decoration: none;
	transition: color .5s;

	&:hover,
	&:focus,
	&:active {
		color: $color-main-accent;
	}

	&.link-invert {
		color: $color-main-accent;

		&:hover,
		&:focus,
		&:active {
			color: $color-gray-light
		}
	}
}

strong {
	font-weight: 700;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

input {
	appearance: none;
	&:not([type="checkbox"]):not([type="radio"]) {
		display: block;
		width: 100%;
		padding: 4px 10px;
		border: none;
		font-size: 100%;
		font-weight: 300;
		line-height: 1;
		color: $color-main-text-dark;
		border-bottom: 1px solid $color-gray-dark;
		background-color: transparent;
	}

	&[type="checkbox"],
	&[type="radio"] {
		$size: 12px;

		position: relative;
		display: inline-block;
		width: $size;
		height: $size;
		border: 1px solid $color-gray-dark;
		margin-right: 8px;
	}

	&[type="checkbox"] {
		&::after {
			content: '';
			position: absolute;
			top: -2px;
			left: 4px;
			width: 60%;
			height: 100%;
			border-bottom: 3px solid $color-main-text-dark;
			border-right: 3px solid $color-main-text-dark;
			transition: transform .5s;
			transform: rotate(45deg) scale(0);
		}

		&:checked {
			border-color: $color-main-accent;

			&::after {
				transform: rotate(45deg) scale(1);
			}
		}
	}

	&[type="radio"] {
		border-radius: 50%;

		&:checked {
			border: 3px solid $color-main-accent;
		}
	}

	&::placeholder {
		color: $color-gray-dark;
	}
}

label {
	font-size: 100%;
	white-space: nowrap;
	user-select: none;
}

.backdrop {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: transparentize($color-bg-dark, 0.2);
}