.main-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;

	@media screen and (min-width: $bp-width-xs) {
		font-size: 60px;
	}

	@media screen and (min-width: $bp-width-sm) {
		font-size: 70px;
	}
}

.heading-bordered {
	position: relative;
	min-height: 32px;
	font-size: 14px;
	line-height: 2.2;
	font-weight: 700;
	color: $color-main-text-dark;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		width: 100vw;
		height: 1px;
		margin-left: -50vw;
		background-color: $color-gray-light;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}